# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore FastTechFoods.Kitchen.API/FastTechFoods.Kitchen.API.sln
      
    - name: Build
      run: dotnet build --no-restore FastTechFoods.Kitchen.API/FastTechFoods.Kitchen.API.sln

  unit-tests:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore FastTechFoods.Kitchen.API/FastTechFoods.Kitchen.API.sln
      
    - name: Unit Tests
      run: dotnet test --no-restore FastTechFoods.Kitchen.API/FastTechFoods.Kitchen.API.sln --filter Category=Unit

  integration-tests:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore FastTechFoods.Kitchen.API/FastTechFoods.Kitchen.API.sln
      
    - name: Integration Tests
      run: dotnet test --no-restore FastTechFoods.Kitchen.API/FastTechFoods.Kitchen.API.sln --filter Category=Integration
    
